@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #;
  --primary-hover: #;
  --secondary: #;
  --background: #242424;
  --container: #;
  --border: #;
  --title: #;
  --text: #;
}

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--background);
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
